<div class="jumbotron">
    <h1>ברוכים הבאים לאתר הקורסים המוביל</h1>
    <p>כשלמידה פוגשת חוויה</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="./assets/adults.jpg" class="card-img-top" alt="Course 1">
          <div class="card-body">
            <h5 class="card-title">קורסים למבוגרים</h5>
            <p class="card-text">קורסים מגוונים ומקצועיים לאלו שכבר אינם ילדים...</p>
            <a href="#" class="btn btn-primary">קרא עוד</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/assets/children.jpg" class="card-img-top" alt="Course 2">
          <div class="card-body">
            <h5 class="card-title">קורסים לילדים</h5>
            <p class="card-text">קורסים מהנים וחוויתיים לילדים חמודים:)</p>
            <a href="#" class="btn btn-primary">קרא עוד</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/assets/zoom.jpg" class="card-img-top" alt="Course 3">
          <div class="card-body">
            <h5 class="card-title">קורסים מהבית</h5>
            <p class="card-text">הצטרף אלינו מ- הבית! מגוון קורסים מקצועיים</p>
            <a href="#" class="btn btn-primary">קרא עוד</a>
          </div>
        </div>
      </div>
    </div>
  </div>